In [1]:
import pandas as pd
import numpy as np

In [50]:
enroll = pd.read_csv(r"C:\Users\Jurgen\Desktop\PDS-Assignment-1\Assignment 2\Raw Data\enrolment-by-institutions.csv", na_values = "-")
enroll = enroll[enroll.year.isin([2010,2011,2012,2013,2014])].set_index("year")
enroll = enroll.fillna(0)

enroll

,sex,nus,ntu,smu,sit,sutd,suss,nie,singapore_polytechnic,ngee_ann_polytechnic,temasek_polytechnic,nanyang_polytechnic,republic_polytechnic,lasalle_diploma,lasalle_degree,nafa_diploma,nafa_degree,ite
year,,,,,,,,,,,,,,,,,,
2010,MF,25189,22862,6721.0,523.0,0.0,0.0,2816,15928,15942,15933.0,16183.0,13003.0,1754.0,0.0,2269.0,0.0,24789
2010,F,13067,11389,3525.0,275.0,0.0,0.0,1886,6453,7655,7804.0,8387.0,6729.0,1137.0,0.0,1532.0,0.0,8856
2011,MF,25513,23040,6853.0,1416.0,0.0,0.0,2579,15949,16139,16020.0,16408.0,13927.0,1623.0,0.0,2217.0,20.0,25279
2011,F,13066,11354,3523.0,732.0,0.0,0.0,1759,6432,7703,7894.0,8440.0,7209.0,1011.0,0.0,1510.0,9.0,9158
2012,MF,25979,22862,7108.0,2587.0,327.0,0.0,2445,15972,16430,16005.0,16076.0,14520.0,1353.0,1081.0,2225.0,43.0,25370
2012,F,13295,11386,3684.0,1246.0,149.0,0.0,1624,6327,7788,7855.0,8197.0,7583.0,854.0,771.0,1531.0,22.0,9085
2013,MF,26156,22777,7297.0,3051.0,583.0,0.0,1838,15878,16581,16250.0,16266.0,14995.0,1253.0,1290.0,2037.0,51.0,26288
2013,F,13532,11517,3789.0,1317.0,249.0,0.0,1216,6167,7866,7934.0,8242.0,7910.0,769.0,956.0,1419.0,25.0,9428
2014,MF,26797,23021,7515.0,3557.0,886.0,217.0,1913,15905,16227,16138.0,16092.0,14952.0,1190.0,1176.0,2022.0,53.0,28036
2014,F,14042,11623,3883.0,1482.0,363.0,145.0,1313,6175,7758,7900.0,8189.0,7914.0,773.0,846.0,1440.0,31.0,10249

In [51]:
enroll_f = enroll[enroll.sex.isin(["F"])].drop(columns = "sex")
enroll_mf = enroll[enroll.sex.isin(["MF"])].drop(columns = "sex")
enroll_m = enroll_mf.subtract(enroll_f, axis = 0)
# enroll_f
enroll_m["sex"] = "M"
enroll_m

,nus,ntu,smu,sit,sutd,suss,nie,singapore_polytechnic,ngee_ann_polytechnic,temasek_polytechnic,nanyang_polytechnic,republic_polytechnic,lasalle_diploma,lasalle_degree,nafa_diploma,nafa_degree,ite,sex
year,,,,,,,,,,,,,,,,,,
2010,12122,11473,3196.0,248.0,0.0,0.0,930,9475,8287,8129.0,7796.0,6274.0,617.0,0.0,737.0,0.0,15933,M
2011,12447,11686,3330.0,684.0,0.0,0.0,820,9517,8436,8126.0,7968.0,6718.0,612.0,0.0,707.0,11.0,16121,M
2012,12684,11476,3424.0,1341.0,178.0,0.0,821,9645,8642,8150.0,7879.0,6937.0,499.0,310.0,694.0,21.0,16285,M
2013,12624,11260,3508.0,1734.0,334.0,0.0,622,9711,8715,8316.0,8024.0,7085.0,484.0,334.0,618.0,26.0,16860,M
2014,12755,11398,3632.0,2075.0,523.0,72.0,600,9730,8469,8238.0,7903.0,7038.0,417.0,330.0,582.0,22.0,17787,M

In [62]:
enroll_all = pd.concat([enroll_m, enroll], sort = True).sort_index()
enroll_all = enroll_all.reset_index().set_index(["year", "sex"])


col = enroll_all.columns
for value in col:
    enroll_all[value] = enroll_all[value].astype("int32")
enroll_all.info()

enroll_all.to_csv(r"C:\Users\Jurgen\Desktop\PDS-Assignment-1\Assignment 2\After Cleansing\enroll_data.csv")

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 15 entries, (2010, M) to (2014, F)
Data columns (total 17 columns):
ite                      15 non-null int32
lasalle_degree           15 non-null int32
lasalle_diploma          15 non-null int32
nafa_degree              15 non-null int32
nafa_diploma             15 non-null int32
nanyang_polytechnic      15 non-null int32
ngee_ann_polytechnic     15 non-null int32
nie                      15 non-null int32
ntu                      15 non-null int32
nus                      15 non-null int32
republic_polytechnic     15 non-null int32
singapore_polytechnic    15 non-null int32
sit                      15 non-null int32
smu                      15 non-null int32
suss                     15 non-null int32
sutd                     15 non-null int32
temasek_polytechnic      15 non-null int32
dtypes: int32(17)
memory usage: 1.2+ KB

In [3]:
# male = []
# for i in range(len(enroll)-1):
#     if enroll.index[i][0] == enroll.index[i+1][0]:
#         male.append((enroll.iloc[i] - enroll.iloc[i + 1]))

In [4]:
# male_data = pd.DataFrame(columns = ["year",
#                                "sex",
#                                "nus", 
#                                "ntu",
#                                "smu", 
#                                "sit", 
#                                "sutd",
#                                "suss", 
#                                "nie", 
#                                "singapore_polytechnic",
#                                "ngee_ann_polytechnic", 
#                                "temasek_polytechnic",
#                                "nanyang_polytechnic", 
#                                "republic_polytechnic", 
#                                "lasalle_diploma",
#                                "lasalle_degree", 
#                                "nafa_diploma", 
#                                "nafa_degree", 
#                                "ite"])

# for i in range(len(male)):
#     male_data = male_data.append({"year" : enroll.index[i*2][0],
#                 "sex" : "M",
#                 "nus" : int(male[i][0]),
#                 "ntu" : int(male[i][1]),
#                 "smu" : int(male[i][2]),
#                 "sit" : int(male[i][3]),
#                 "sutd": int(male[i][4]),
#                 "suss" : int(male[i][5]),
#                 "nie" : int(male[i][6]),
#                 "singapore_polytechnic" : int(male[i][7]),
#                 "ngee_ann_polytechnic" : int(male[i][8]),
#                 "temasek_polytechnic" : int(male[i][9]),
#                 "nanyang_polytechnic" : int(male[i][10]),
#                 "republic_polytechnic" : int(male[i][11]),
#                 "lasalle_diploma" : int(male[i][12]),
#                 "lasalle_degree" : int(male[i][13]),
#                 "nafa_diploma" : int(male[i][14]),
#                 "nafa_degree" : int(male[i][15]),
#                 "ite" :  int(male[i][16])}, ignore_index=True)

In [5]:
# male_data = male_data.set_index(["year", "sex"])
# male_data

NameError: name 'male_data' is not defined

In [6]:
# enroll = pd.concat([male_data, enroll], sort = True).sort_index()
# enroll

            ite lasalle_degree lasalle_diploma nafa_degree nafa_diploma  \
year sex
2010 F     8856              0            1137           0         1532
     M    15933              0             617           0          737
     MF   24789              0            1754           0         2269
2011 F     9158              0            1011           9         1510
     M    16121              0             612          11          707
     MF   25279              0            1623          20         2217
2012 F     9085            771             854          22         1531
     M    16285            310             499          21          694
     MF   25370           1081            1353          43         2225
2013 F     9428            956             769          25         1419
     M    16860            334             484          26          618
     MF   26288           1290            1253          51         2037
2014 F    10249            846             773          31         1440
     M    17787            330             417          22          582
     MF   28036           1176            1190          53         2022

         nanyang_polytechnic ngee_ann_polytechnic   nie    ntu    nus  \
year sex
2010 F                  8387                 7655  1886  11389  13067
     M                  7796                 8287   930  11473  12122
     MF                16183                15942  2816  22862  25189
2011 F                  8440                 7703  1759  11354  13066
     M                  7968                 8436   820  11686  12447
     MF                16408                16139  2579  23040  25513
2012 F                  8197                 7788  1624  11386  13295
     M                  7879                 8642   821  11476  12684
     MF                16076                16430  2445  22862  25979
2013 F                  8242                 7866  1216  11517  13532
     M                  8024                 8715   622  11260  12624
     MF                16266                16581  1838  22777  26156
2014 F                  8189                 7758  1313  11623  14042
     M                  7903                 8469   600  11398  12755
     MF                16092                16227  1913  23021  26797

         republic_polytechnic singapore_polytechnic   sit   smu suss sutd  \
year sex
2010 F                   6729                  6453   275  3525    0    0
     M                   6274                  9475   248  3196    0    0
     MF                 13003                 15928   523  6721    0    0
2011 F                   7209                  6432   732  3523    0    0
     M                   6718                  9517   684  3330    0    0
     MF                 13927                 15949  1416  6853    0    0
2012 F                   7583                  6327  1246  3684    0  149
     M                   6937                  9645  1341  3424    0  178
     MF                 14520                 15972  2587  7108    0  327
2013 F                   7910                  6167  1317  3789    0  249
     M                   7085                  9711  1734  3508    0  334
     MF                 14995                 15878  3051  7297    0  583
2014 F                   7914                  6175  1482  3883  145  363
     M                   7038                  9730  2075  3632   72  523
     MF                 14952                 15905  3557  7515  217  886

         temasek_polytechnic
year sex
2010 F                  7804
     M                  8129
     MF                15933
2011 F                  7894
     M                  8126
     MF                16020
2012 F                  7855
     M                  8150
     MF                16005
2013 F                  7934
     M                  8316
     MF                16250
2014 F                  7900
     M                  8238
     MF                16138

In [9]:
# enroll.to_csv("enroll_data.csv")