In [2]:
import pandas as pd
import numpy as np

In [4]:
enroll = pd.read_csv(r"~\Desktop\School Related\PDS-Assignment-1\Assignment 2\Raw Data\enrolment-by-institutions.csv"
                     , na_values = "-")
enroll = enroll[enroll.year <= 2014].set_index("year")
enroll = enroll.fillna(0)

enroll

,sex,nus,ntu,smu,sit,sutd,suss,nie,singapore_polytechnic,ngee_ann_polytechnic,temasek_polytechnic,nanyang_polytechnic,republic_polytechnic,lasalle_diploma,lasalle_degree,nafa_diploma,nafa_degree,ite
year,,,,,,,,,,,,,,,,,,
1982,MF,11093,582,0.0,0.0,0.0,0.0,1000,5339,3660,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10303
1982,F,5563,57,0.0,0.0,0.0,0.0,808,1069,1153,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2130
1983,MF,11939,1267,0.0,0.0,0.0,0.0,1078,6136,4825,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10664
1983,F,6596,120,0.0,0.0,0.0,0.0,853,1318,1650,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2753
1984,MF,12721,1945,0.0,0.0,0.0,0.0,776,7129,6919,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9419
1984,F,7076,230,0.0,0.0,0.0,0.0,605,1679,2374,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2831
1985,MF,13617,2078,0.0,0.0,0.0,0.0,1166,7894,8516,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13890
1985,F,7396,253,0.0,0.0,0.0,0.0,922,1924,2993,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3839
1986,MF,14150,2202,0.0,0.0,0.0,0.0,1331,8099,9617,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14666
1986,F,7581,302,0.0,0.0,0.0,0.0,1093,2041,3470,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4682
1987,MF,13238,3940,0.0,0.0,0.0,0.0,1306,9193,10237,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16539
1987,F,6822,1486,0.0,0.0,0.0,0.0,1085,2514,3910,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5601
1988,MF,14317,4400,0.0,0.0,0.0,0.0,1058,9709,10448,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17643
1988,F,7490,1750,0.0,0.0,0.0,0.0,849,2905,4037,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5627
1989,MF,14645,5475,0.0,0.0,0.0,0.0,1337,10620,11341,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17353
1989,F,7857,2123,0.0,0.0,0.0,0.0,1032,3459,4477,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5751
1990,MF,15193,6812,0.0,0.0,0.0,0.0,1577,11348,11995,735.0,0.0,0.0,0.0,0.0,0.0,0.0,15919
1990,F,8107,2689,0.0,0.0,0.0,0.0,1212,3878,4817,552.0,0.0,0.0,0.0,0.0,0.0,0.0,5304
1991,MF,14597,8712,0.0,0.0,0.0,0.0,1676,12327,12759,1472.0,0.0,0.0,0.0,0.0,0.0,0.0,15326
1991,F,7972,3139,0.0,0.0,0.0,0.0,1336,4498,5316,1006.0,0.0,0.0,0.0,0.0,0.0,0.0,5172
1992,MF,14922,9900,0.0,0.0,0.0,0.0,1559,13257,13330,2268.0,699.0,0.0,0.0,0.0,0.0,0.0,14975
1992,F,8096,3543,0.0,0.0,0.0,0.0,1189,5073,5527,1490.0,580.0,0.0,0.0,0.0,0.0,0.0,4942
1993,MF,15395,10410,0.0,0.0,0.0,0.0,1700,13578,13353,3107.0,3944.0,0.0,0.0,0.0,0.0,0.0,14903
1993,F,8276,3802,0.0,0.0,0.0,0.0,1287,5297,5473,1826.0,1946.0,0.0,0.0,0.0,0.0,0.0,4625
1994,MF,16137,11052,0.0,0.0,0.0,0.0,1394,13865,13637,3854.0,5785.0,0.0,0.0,0.0,0.0,0.0,12254
1994,F,8644,4220,0.0,0.0,0.0,0.0,1019,5361,5624,2156.0,3199.0,0.0,0.0,0.0,0.0,0.0,3649
1995,MF,16984,11545,0.0,0.0,0.0,0.0,1341,14019,14249,5443.0,7291.0,0.0,0.0,0.0,0.0,0.0,9300
1995,F,9172,4741,0.0,0.0,0.0,0.0,997,5202,5858,3026.0,4066.0,0.0,0.0,0.0,0.0,0.0,2726
1996,MF,17669,12186,0.0,0.0,0.0,0.0,2040,13912,14480,7681.0,7764.0,0.0,0.0,0.0,0.0,0.0,8266
1996,F,9663,5030,0.0,0.0,0.0,0.0,1507,5180,6113,4076.0,4381.0,0.0,0.0,0.0,0.0,0.0,2227
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2000,MF,21233,14583,305.0,0.0,0.0,0.0,3072,13459,14378,12733.0,11463.0,0.0,0.0,0.0,0.0,0.0,15974
2000,F,11341,6223,212.0,0.0,0.0,0.0,2247,5408,6419,6446.0,5989.0,0.0,0.0,0.0,0.0,0.0,4343
2001,MF,22172,15008,803.0,0.0,0.0,0.0,3095,13754,14317,13143.0,12385.0,0.0,0.0,0.0,0.0,0.0,16176
2001,F,11781,6504,579.0,0.0,0.0,0.0,2292,5521,6623,6501.0,6379.0,0.0,0.0,0.0,0.0,0.0,4584
2002,MF,22169,15598,1389.0,0.0,0.0,0.0,3368,14271,13989,13324.0,13105.0,0.0,0.0,0.0,0.0,0.0,17468
2002,F,11653,6822,974.0,0.0,0.0,0.0,2455,5670,6626,6579.0,6892.0,0.0,0.0,0.0,0.0,0.0,5138
2003,MF,22149,15764,2182.0,0.0,0.0,0.0,2953,14371,13690,13117.0,13754.0,821.0,0.0,0.0,0.0,0.0,17941
2003,F,11036,6830,1469.0,0.0,0.0,0.0,2080,5562,6534,6462.0,7456.0,377.0,0.0,0.0,0.0,0.0,5615
2004,MF,21781,16837,3010.0,0.0,0.0,0.0,2282,13709,13417,12782.0,14233.0,1907.0,0.0,0.0,0.0,0.0,19207
2004,F,11372,7469,1991.0,0.0,0.0,0.0,1550,5233,6347,6302.0,7875.0,865.0,0.0,0.0,0.0,0.0,6076
2005,MF,22105,17777,3781.0,0.0,0.0,0.0,2881,13353,13715,13582.0,14643.0,3587.0,1505.0,0.0,1933.0,0.0,21603
2005,F,11326,8094,2239.0,0.0,0.0,0.0,1940,5019,6500,6776.0,8010.0,1759.0,906.0,0.0,1236.0,0.0,7315
2006,MF,22836,19114,4259.0,0.0,0.0,0.0,2938,13656,14258,14568.0,15001.0,5479.0,1904.0,0.0,2083.0,0.0,23636
2006,F,11766,8797,2429.0,0.0,0.0,0.0,1998,5084,6719,7236.0,7913.0,2790.0,1139.0,0.0,1352.0,0.0,8052
2007,MF,23578,20206,5178.0,0.0,0.0,0.0,2725,14399,14687,15243.0,14874.0,8087.0,1948.0,0.0,2114.0,0.0,24370
2007,F,12396,9769,2758.0,0.0,0.0,0.0,1878,5249,7007,7541.0,7732.0,4205.0,1228.0,0.0,1396.0,0.0,8235
2008,MF,24086,21097,5721.0,0.0,0.0,0.0,2581,14986,15123,15615.0,15225.0,10188.0,1887.0,0.0,2190.0,0.0,24593
2008,F,12663,10409,2993.0,0.0,0.0,0.0,1758,5605,7214,7587.0,7866.0,5257.0,1202.0,0.0,1475.0,0.0,8479
2009,MF,24798,22450,6331.0,0.0,0.0,0.0,2804,15523,15417,15791.0,15656.0,12179.0,1771.0,0.0,2144.0,0.0,24846
2009,F,12944,11105,3295.0,0.0,0.0,0.0,1896,6034,7436,7676.0,8150.0,6304.0,1143.0,0.0,1460.0,0.0,8844
2010,MF,25189,22862,6721.0,523.0,0.0,0.0,2816,15928,15942,15933.0,16183.0,13003.0,1754.0,0.0,2269.0,0.0,24789
2010,F,13067,11389,3525.0,275.0,0.0,0.0,1886,6453,7655,7804.0,8387.0,6729.0,1137.0,0.0,1532.0,0.0,8856
2011,MF,25513,23040,6853.0,1416.0,0.0,0.0,2579,15949,16139,16020.0,16408.0,13927.0,1623.0,0.0,2217.0,20.0,25279
2011,F,13066,11354,3523.0,732.0,0.0,0.0,1759,6432,7703,7894.0,8440.0,7209.0,1011.0,0.0,1510.0,9.0,9158
2012,MF,25979,22862,7108.0,2587.0,327.0,0.0,2445,15972,16430,16005.0,16076.0,14520.0,1353.0,1081.0,2225.0,43.0,25370
2012,F,13295,11386,3684.0,1246.0,149.0,0.0,1624,6327,7788,7855.0,8197.0,7583.0,854.0,771.0,1531.0,22.0,9085
2013,MF,26156,22777,7297.0,3051.0,583.0,0.0,1838,15878,16581,16250.0,16266.0,14995.0,1253.0,1290.0,2037.0,51.0,26288
2013,F,13532,11517,3789.0,1317.0,249.0,0.0,1216,6167,7866,7934.0,8242.0,7910.0,769.0,956.0,1419.0,25.0,9428
2014,MF,26797,23021,7515.0,3557.0,886.0,217.0,1913,15905,16227,16138.0,16092.0,14952.0,1190.0,1176.0,2022.0,53.0,28036
2014,F,14042,11623,3883.0,1482.0,363.0,145.0,1313,6175,7758,7900.0,8189.0,7914.0,773.0,846.0,1440.0,31.0,10249

In [11]:
enroll_f = enroll[enroll.sex.isin(["F"])].drop(columns = "sex")
enroll_mf = enroll[enroll.sex.isin(["MF"])].drop(columns = "sex")
enroll_m = enroll_mf.subtract(enroll_f, axis = 0)
enroll_m["sex"] = "M"
# enroll_m

,nus,ntu,smu,sit,sutd,suss,nie,singapore_polytechnic,ngee_ann_polytechnic,temasek_polytechnic,nanyang_polytechnic,republic_polytechnic,lasalle_diploma,lasalle_degree,nafa_diploma,nafa_degree,ite,sex
year,,,,,,,,,,,,,,,,,,
1982,5530,525,0.0,0.0,0.0,0.0,192,4270,2507,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8173,M
1983,5343,1147,0.0,0.0,0.0,0.0,225,4818,3175,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7911,M
1984,5645,1715,0.0,0.0,0.0,0.0,171,5450,4545,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6588,M
1985,6221,1825,0.0,0.0,0.0,0.0,244,5970,5523,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10051,M
1986,6569,1900,0.0,0.0,0.0,0.0,238,6058,6147,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9984,M
1987,6416,2454,0.0,0.0,0.0,0.0,221,6679,6327,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10938,M
1988,6827,2650,0.0,0.0,0.0,0.0,209,6804,6411,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12016,M
1989,6788,3352,0.0,0.0,0.0,0.0,305,7161,6864,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11602,M
1990,7086,4123,0.0,0.0,0.0,0.0,365,7470,7178,183.0,0.0,0.0,0.0,0.0,0.0,0.0,10615,M
1991,6625,5573,0.0,0.0,0.0,0.0,340,7829,7443,466.0,0.0,0.0,0.0,0.0,0.0,0.0,10154,M
1992,6826,6357,0.0,0.0,0.0,0.0,370,8184,7803,778.0,119.0,0.0,0.0,0.0,0.0,0.0,10033,M
1993,7119,6608,0.0,0.0,0.0,0.0,413,8281,7880,1281.0,1998.0,0.0,0.0,0.0,0.0,0.0,10278,M
1994,7493,6832,0.0,0.0,0.0,0.0,375,8504,8013,1698.0,2586.0,0.0,0.0,0.0,0.0,0.0,8605,M
1995,7812,6804,0.0,0.0,0.0,0.0,344,8817,8391,2417.0,3225.0,0.0,0.0,0.0,0.0,0.0,6574,M
1996,8006,7156,0.0,0.0,0.0,0.0,533,8732,8367,3605.0,3383.0,0.0,0.0,0.0,0.0,0.0,6039,M
1997,8111,7448,0.0,0.0,0.0,0.0,641,8612,8591,4649.0,3651.0,0.0,0.0,0.0,0.0,0.0,6204,M
1998,8465,7824,0.0,0.0,0.0,0.0,624,8379,8299,5520.0,4148.0,0.0,0.0,0.0,0.0,0.0,9866,M
1999,9059,8109,0.0,0.0,0.0,0.0,966,8229,8222,5930.0,4867.0,0.0,0.0,0.0,0.0,0.0,12125,M
2000,9892,8360,93.0,0.0,0.0,0.0,825,8051,7959,6287.0,5474.0,0.0,0.0,0.0,0.0,0.0,11631,M
2001,10391,8504,224.0,0.0,0.0,0.0,803,8233,7694,6642.0,6006.0,0.0,0.0,0.0,0.0,0.0,11592,M
2002,10516,8776,415.0,0.0,0.0,0.0,913,8601,7363,6745.0,6213.0,0.0,0.0,0.0,0.0,0.0,12330,M
2003,11113,8934,713.0,0.0,0.0,0.0,873,8809,7156,6655.0,6298.0,444.0,0.0,0.0,0.0,0.0,12326,M
2004,10409,9368,1019.0,0.0,0.0,0.0,732,8476,7070,6480.0,6358.0,1042.0,0.0,0.0,0.0,0.0,13131,M
2005,10779,9683,1542.0,0.0,0.0,0.0,941,8334,7215,6806.0,6633.0,1828.0,599.0,0.0,697.0,0.0,14288,M
2006,11070,10317,1830.0,0.0,0.0,0.0,940,8572,7539,7332.0,7088.0,2689.0,765.0,0.0,731.0,0.0,15584,M
2007,11182,10437,2420.0,0.0,0.0,0.0,847,9150,7680,7702.0,7142.0,3882.0,720.0,0.0,718.0,0.0,16135,M
2008,11423,10688,2728.0,0.0,0.0,0.0,823,9381,7909,8028.0,7359.0,4931.0,685.0,0.0,715.0,0.0,16114,M
2009,11854,11345,3036.0,0.0,0.0,0.0,908,9489,7981,8115.0,7506.0,5875.0,628.0,0.0,684.0,0.0,16002,M
2010,12122,11473,3196.0,248.0,0.0,0.0,930,9475,8287,8129.0,7796.0,6274.0,617.0,0.0,737.0,0.0,15933,M
2011,12447,11686,3330.0,684.0,0.0,0.0,820,9517,8436,8126.0,7968.0,6718.0,612.0,0.0,707.0,11.0,16121,M
2012,12684,11476,3424.0,1341.0,178.0,0.0,821,9645,8642,8150.0,7879.0,6937.0,499.0,310.0,694.0,21.0,16285,M
2013,12624,11260,3508.0,1734.0,334.0,0.0,622,9711,8715,8316.0,8024.0,7085.0,484.0,334.0,618.0,26.0,16860,M
2014,12755,11398,3632.0,2075.0,523.0,72.0,600,9730,8469,8238.0,7903.0,7038.0,417.0,330.0,582.0,22.0,17787,M

In [12]:
enroll_all = pd.concat([enroll_m, enroll], sort = True).sort_index()
enroll_all = enroll_all.reset_index().set_index(["year", "sex"])


col = enroll_all.columns
for value in col:
    enroll_all[value] = enroll_all[value].astype("int32")
# enroll_all.info()

enroll_all.to_csv(r"C:\Users\Jurgen\Desktop\PDS-Assignment-1\Assignment 2\After Cleansing\enroll_data.csv")

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 99 entries, (1982, M) to (2014, F)
Data columns (total 17 columns):
ite                      99 non-null int32
lasalle_degree           99 non-null int32
lasalle_diploma          99 non-null int32
nafa_degree              99 non-null int32
nafa_diploma             99 non-null int32
nanyang_polytechnic      99 non-null int32
ngee_ann_polytechnic     99 non-null int32
nie                      99 non-null int32
ntu                      99 non-null int32
nus                      99 non-null int32
republic_polytechnic     99 non-null int32
singapore_polytechnic    99 non-null int32
sit                      99 non-null int32
smu                      99 non-null int32
suss                     99 non-null int32
sutd                     99 non-null int32
temasek_polytechnic      99 non-null int32
dtypes: int32(17)
memory usage: 7.2+ KB

In [3]:
# male = []
# for i in range(len(enroll)-1):
#     if enroll.index[i][0] == enroll.index[i+1][0]:
#         male.append((enroll.iloc[i] - enroll.iloc[i + 1]))

In [4]:
# male_data = pd.DataFrame(columns = ["year",
#                                "sex",
#                                "nus", 
#                                "ntu",
#                                "smu", 
#                                "sit", 
#                                "sutd",
#                                "suss", 
#                                "nie", 
#                                "singapore_polytechnic",
#                                "ngee_ann_polytechnic", 
#                                "temasek_polytechnic",
#                                "nanyang_polytechnic", 
#                                "republic_polytechnic", 
#                                "lasalle_diploma",
#                                "lasalle_degree", 
#                                "nafa_diploma", 
#                                "nafa_degree", 
#                                "ite"])

# for i in range(len(male)):
#     male_data = male_data.append({"year" : enroll.index[i*2][0],
#                 "sex" : "M",
#                 "nus" : int(male[i][0]),
#                 "ntu" : int(male[i][1]),
#                 "smu" : int(male[i][2]),
#                 "sit" : int(male[i][3]),
#                 "sutd": int(male[i][4]),
#                 "suss" : int(male[i][5]),
#                 "nie" : int(male[i][6]),
#                 "singapore_polytechnic" : int(male[i][7]),
#                 "ngee_ann_polytechnic" : int(male[i][8]),
#                 "temasek_polytechnic" : int(male[i][9]),
#                 "nanyang_polytechnic" : int(male[i][10]),
#                 "republic_polytechnic" : int(male[i][11]),
#                 "lasalle_diploma" : int(male[i][12]),
#                 "lasalle_degree" : int(male[i][13]),
#                 "nafa_diploma" : int(male[i][14]),
#                 "nafa_degree" : int(male[i][15]),
#                 "ite" :  int(male[i][16])}, ignore_index=True)

In [5]:
# male_data = male_data.set_index(["year", "sex"])
# male_data

NameError: name 'male_data' is not defined

In [6]:
# enroll = pd.concat([male_data, enroll], sort = True).sort_index()
# enroll

            ite lasalle_degree lasalle_diploma nafa_degree nafa_diploma  \
year sex
2010 F     8856              0            1137           0         1532
     M    15933              0             617           0          737
     MF   24789              0            1754           0         2269
2011 F     9158              0            1011           9         1510
     M    16121              0             612          11          707
     MF   25279              0            1623          20         2217
2012 F     9085            771             854          22         1531
     M    16285            310             499          21          694
     MF   25370           1081            1353          43         2225
2013 F     9428            956             769          25         1419
     M    16860            334             484          26          618
     MF   26288           1290            1253          51         2037
2014 F    10249            846             773          31         1440
     M    17787            330             417          22          582
     MF   28036           1176            1190          53         2022

         nanyang_polytechnic ngee_ann_polytechnic   nie    ntu    nus  \
year sex
2010 F                  8387                 7655  1886  11389  13067
     M                  7796                 8287   930  11473  12122
     MF                16183                15942  2816  22862  25189
2011 F                  8440                 7703  1759  11354  13066
     M                  7968                 8436   820  11686  12447
     MF                16408                16139  2579  23040  25513
2012 F                  8197                 7788  1624  11386  13295
     M                  7879                 8642   821  11476  12684
     MF                16076                16430  2445  22862  25979
2013 F                  8242                 7866  1216  11517  13532
     M                  8024                 8715   622  11260  12624
     MF                16266                16581  1838  22777  26156
2014 F                  8189                 7758  1313  11623  14042
     M                  7903                 8469   600  11398  12755
     MF                16092                16227  1913  23021  26797

         republic_polytechnic singapore_polytechnic   sit   smu suss sutd  \
year sex
2010 F                   6729                  6453   275  3525    0    0
     M                   6274                  9475   248  3196    0    0
     MF                 13003                 15928   523  6721    0    0
2011 F                   7209                  6432   732  3523    0    0
     M                   6718                  9517   684  3330    0    0
     MF                 13927                 15949  1416  6853    0    0
2012 F                   7583                  6327  1246  3684    0  149
     M                   6937                  9645  1341  3424    0  178
     MF                 14520                 15972  2587  7108    0  327
2013 F                   7910                  6167  1317  3789    0  249
     M                   7085                  9711  1734  3508    0  334
     MF                 14995                 15878  3051  7297    0  583
2014 F                   7914                  6175  1482  3883  145  363
     M                   7038                  9730  2075  3632   72  523
     MF                 14952                 15905  3557  7515  217  886

         temasek_polytechnic
year sex
2010 F                  7804
     M                  8129
     MF                15933
2011 F                  7894
     M                  8126
     MF                16020
2012 F                  7855
     M                  8150
     MF                16005
2013 F                  7934
     M                  8316
     MF                16250
2014 F                  7900
     M                  8238
     MF                16138

In [9]:
# enroll.to_csv("enroll_data.csv")