In [2]:
import pandas as pd
import numpy as np

In [5]:
graduate = pd.read_csv(r"C:\Users\Jurgen\Desktop\PDS-Assignment-1\Assignment 2\Raw Data\graduates-by-institutions.csv", 
                       na_values = "-")
graduate = graduate[graduate.year >= 1986].set_index("year")
graduate = graduate.fillna(0)
# graduate = graduate.dropna()
graduate

,sex,nus,ntu,smu,sit,sutd,suss,nie,singapore_polytechnic,ngee_ann_polytechnic,temasek_polytechnic,nanyang_polytechnic,republic_polytechnic,lasalle_diploma,lasalle_degree,nafa_diploma,nafa_degree,ite
year,,,,,,,,,,,,,,,,,,
1986,MF,3860,661,0.0,0.0,0.0,0.0,756,2258,1931,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8472
1986,F,2476,64,0.0,0.0,0.0,0.0,580,494,765,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2638
1987,MF,3974,664,0.0,0.0,0.0,0.0,852,2540,2710,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8797
1987,F,2390,104,0.0,0.0,0.0,0.0,679,677,944,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2851
1988,MF,3624,1122,0.0,0.0,0.0,0.0,1022,2645,3059,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016,F,3332,3066,1030.0,539.0,93.0,0.0,1076,1984,2512,2495.0,2727.0,2493.0,226.0,286.0,365.0,18.0,4863
2017,MF,6446,6174,1779.0,1494.0,267.0,0.0,1292,4924,4886,5012.0,4999.0,4389.0,331.0,466.0,591.0,34.0,12858
2017,F,3350,3266,920.0,695.0,107.0,0.0,899,2000,2400,2516.0,2605.0,2407.0,237.0,318.0,447.0,22.0,4808
2018,MF,6700,5990,1887.0,1744.0,334.0,168.0,1153,4380,4687,4556.0,4584.0,4407.0,333.0,429.0,668.0,15.0,13421
2018,F,3606,2953,903.0,749.0,152.0,112.0,843,1809,2314,2290.0,2414.0,2348.0,216.0,319.0,488.0,10.0,5026

In [6]:
graduate_f = graduate[graduate.sex.isin(["F"])].drop(columns = "sex")
graduate_mf = graduate[graduate.sex.isin(["MF"])].drop(columns = "sex")
graduate_m = graduate.subtract(graduate_f, axis = 0)
graduate_m["sex"] = "M"

# graduate_m

,ite,lasalle_degree,lasalle_diploma,nafa_degree,nafa_diploma,nanyang_polytechnic,ngee_ann_polytechnic,nie,ntu,nus,republic_polytechnic,sex,singapore_polytechnic,sit,smu,suss,sutd,temasek_polytechnic
year,,,,,,,,,,,,,,,,,,
1986,5834,0.0,0.0,0.0,0.0,0.0,1166,176,597,1384,0.0,M,1764,0.0,0.0,0.0,0.0,0.0
1986,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,M,0,0.0,0.0,0.0,0.0,0.0
1987,5946,0.0,0.0,0.0,0.0,0.0,1766,173,560,1584,0.0,M,1863,0.0,0.0,0.0,0.0,0.0
1987,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,M,0,0.0,0.0,0.0,0.0,0.0
1988,5749,0.0,0.0,0.0,0.0,0.0,1878,216,736,1631,0.0,M,1971,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,M,0,0.0,0.0,0.0,0.0,0.0
2017,8050,148.0,94.0,12.0,144.0,2394.0,2486,393,2908,3096,1982.0,M,2924,799.0,859.0,0.0,160.0,2496.0
2017,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,M,0,0.0,0.0,0.0,0.0,0.0
2018,8395,110.0,117.0,5.0,180.0,2170.0,2373,310,3037,3094,2059.0,M,2571,995.0,984.0,56.0,182.0,2266.0
2018,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,M,0,0.0,0.0,0.0,0.0,0.0

In [7]:
graduate_f = graduate[graduate.sex.isin(["F"])].drop(columns = "sex")
graduate_mf = graduate[graduate.sex.isin(["MF"])].drop(columns = "sex")
graduate_m = graduate_mf.subtract(graduate_f, axis = 0)
graduate_m["sex"] = "M"
graduate_m

,nus,ntu,smu,sit,sutd,suss,nie,singapore_polytechnic,ngee_ann_polytechnic,temasek_polytechnic,nanyang_polytechnic,republic_polytechnic,lasalle_diploma,lasalle_degree,nafa_diploma,nafa_degree,ite,sex
year,,,,,,,,,,,,,,,,,,
1986,1384,597,0.0,0.0,0.0,0.0,176,1764,1166,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5834,M
1987,1584,560,0.0,0.0,0.0,0.0,173,1863,1766,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5946,M
1988,1631,736,0.0,0.0,0.0,0.0,216,1971,1878,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5749,M
1989,1836,794,0.0,0.0,0.0,0.0,212,1892,1859,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4695,M
1990,1694,823,0.0,0.0,0.0,0.0,235,2101,1854,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4580,M
1991,1856,921,0.0,0.0,0.0,0.0,266,2073,1903,35.0,0.0,0.0,0.0,0.0,0.0,0.0,4292,M
1992,1926,1248,0.0,0.0,0.0,0.0,289,2241,2105,32.0,0.0,0.0,0.0,0.0,0.0,0.0,4174,M
1993,2010,1555,0.0,0.0,0.0,0.0,290,2506,2235,144.0,0.0,0.0,0.0,0.0,0.0,0.0,4354,M
1994,2181,1708,0.0,0.0,0.0,0.0,324,2577,2186,295.0,412.0,0.0,0.0,0.0,0.0,0.0,4431,M
1995,2117,1887,0.0,0.0,0.0,0.0,316,2489,2325,328.0,375.0,0.0,0.0,0.0,0.0,0.0,4089,M
1996,2201,1821,0.0,0.0,0.0,0.0,267,2506,2210,529.0,904.0,0.0,0.0,0.0,0.0,0.0,3103,M
1997,2472,1804,0.0,0.0,0.0,0.0,449,2562,2204,579.0,956.0,0.0,0.0,0.0,0.0,0.0,2755,M
1998,2532,1923,0.0,0.0,0.0,0.0,424,2491,2502,918.0,938.0,0.0,0.0,0.0,0.0,0.0,3039,M
1999,2425,2060,0.0,0.0,0.0,0.0,478,2464,2422,1372.0,1061.0,0.0,0.0,0.0,0.0,0.0,5133,M
2000,2361,2030,0.0,0.0,0.0,0.0,764,2355,2343,1560.0,1091.0,0.0,0.0,0.0,0.0,0.0,5221,M
2001,2504,1988,0.0,0.0,0.0,0.0,604,2275,2434,1619.0,1367.0,0.0,0.0,0.0,0.0,0.0,4724,M
2002,2664,1945,0.0,0.0,0.0,0.0,616,2351,2330,1760.0,1663.0,0.0,0.0,0.0,0.0,0.0,4585,M
2003,2722,2234,4.0,0.0,0.0,0.0,807,2328,2154,1866.0,1601.0,0.0,0.0,0.0,0.0,0.0,4963,M
2004,2697,2224,73.0,0.0,0.0,0.0,559,2633,2220,2030.0,1835.0,0.0,0.0,0.0,0.0,0.0,5070,M
2005,2524,2084,93.0,0.0,0.0,0.0,679,2716,2075,1712.0,1899.0,0.0,156.0,0.0,145.0,0.0,5567,M
2006,2566,2267,166.0,0.0,0.0,0.0,680,2529,2094,1858.0,1729.0,328.0,143.0,0.0,169.0,0.0,6332,M
2007,2557,2718,326.0,0.0,0.0,0.0,758,2421,2102,1925.0,1946.0,493.0,170.0,0.0,148.0,0.0,6460,M
2008,2619,2522,377.0,0.0,0.0,0.0,702,2606,2257,2166.0,2056.0,736.0,185.0,0.0,201.0,0.0,6541,M
2009,2767,2488,548.0,0.0,0.0,0.0,687,2724,2395,2419.0,2109.0,987.0,215.0,0.0,170.0,0.0,6688,M
2010,2709,2868,660.0,0.0,0.0,0.0,794,2927,2297,2419.0,1981.0,1359.0,207.0,0.0,153.0,0.0,6846,M
2011,2685,2782,673.0,0.0,0.0,0.0,789,2939,2420,2591.0,2293.0,1569.0,166.0,0.0,174.0,0.0,6839,M
2012,2820,2898,684.0,99.0,0.0,0.0,717,2956,2523,2588.0,2321.0,1847.0,195.0,0.0,174.0,0.0,7105,M
2013,3114,3166,825.0,399.0,0.0,0.0,731,2941,2563,2439.0,2417.0,1937.0,124.0,144.0,216.0,9.0,7308,M
2014,2986,3042,830.0,653.0,0.0,0.0,607,3031,2653,2557.0,2380.0,2088.0,149.0,123.0,194.0,12.0,7179,M
2015,2987,2979,799.0,762.0,162.0,0.0,552,3069,2614,2590.0,2242.0,2135.0,128.0,103.0,181.0,13.0,8211,M
2016,2973,2790,774.0,746.0,153.0,0.0,552,3023,2746,2569.0,2434.0,2121.0,105.0,121.0,162.0,7.0,7653,M
2017,3096,2908,859.0,799.0,160.0,0.0,393,2924,2486,2496.0,2394.0,1982.0,94.0,148.0,144.0,12.0,8050,M
2018,3094,3037,984.0,995.0,182.0,56.0,310,2571,2373,2266.0,2170.0,2059.0,117.0,110.0,180.0,5.0,8395,M

In [8]:
graduate_all = pd.concat([graduate_m, graduate], sort = True).sort_index()
graduate_all = graduate_all.reset_index().set_index(["year", "sex"])


col = graduate_all.columns
for value in col:
    graduate_all[value] = graduate_all[value].astype("int32")
graduate_all.info()

graduate_all.to_csv(r"C:\Users\Jurgen\Desktop\PDS-Assignment-1\Assignment 2\After Cleansing\graduate_data.csv")

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 99 entries, (1986, M) to (2018, F)
Data columns (total 17 columns):
ite                      99 non-null int32
lasalle_degree           99 non-null int32
lasalle_diploma          99 non-null int32
nafa_degree              99 non-null int32
nafa_diploma             99 non-null int32
nanyang_polytechnic      99 non-null int32
ngee_ann_polytechnic     99 non-null int32
nie                      99 non-null int32
ntu                      99 non-null int32
nus                      99 non-null int32
republic_polytechnic     99 non-null int32
singapore_polytechnic    99 non-null int32
sit                      99 non-null int32
smu                      99 non-null int32
suss                     99 non-null int32
sutd                     99 non-null int32
temasek_polytechnic      99 non-null int32
dtypes: int32(17)
memory usage: 7.2+ KB

In [21]:
# male = []
# for i in range(len(graduate)-1):
#     if graduate.index[i][0] == graduate.index[i+1][0]:
#         male.append((graduate.iloc[i] - graduate.iloc[i + 1]))

In [22]:
# male_data = pd.DataFrame(columns = ["year",
#                                "sex",
#                                "nus", 
#                                "ntu",
#                                "smu", 
#                                "sit", 
#                                "sutd",
#                                "suss", 
#                                "nie", 
#                                "singapore_polytechnic",
#                                "ngee_ann_polytechnic", 
#                                "temasek_polytechnic",
#                                "nanyang_polytechnic", 
#                                "republic_polytechnic", 
#                                "lasalle_diploma",
#                                "lasalle_degree", 
#                                "nafa_diploma", 
#                                "nafa_degree", 
#                                "ite"])

# for i in range(len(male)):
#     male_data = male_data.append({"year" : graduate.index[i*2][0],
#                 "sex" : "M",
#                 "nus" : int(male[i][0]),
#                 "ntu" : int(male[i][1]),
#                 "smu" : int(male[i][2]),
#                 "sit" : int(male[i][3]),
#                 "sutd": int(male[i][4]),
#                 "suss" : int(male[i][5]),
#                 "nie" : int(male[i][6]),
#                 "singapore_polytechnic" : int(male[i][7]),
#                 "ngee_ann_polytechnic" : int(male[i][8]),
#                 "temasek_polytechnic" : int(male[i][9]),
#                 "nanyang_polytechnic" : int(male[i][10]),
#                 "republic_polytechnic" : int(male[i][11]),
#                 "lasalle_diploma" : int(male[i][12]),
#                 "lasalle_degree" : int(male[i][13]),
#                 "nafa_diploma" : int(male[i][14]),
#                 "nafa_degree" : int(male[i][15]),
#                 "ite" :  int(male[i][16])}, ignore_index=True)

In [23]:
# male_data = male_data.set_index(["year", "sex"])
# male_data

,,nus,ntu,smu,sit,sutd,suss,nie,singapore_polytechnic,ngee_ann_polytechnic,temasek_polytechnic,nanyang_polytechnic,republic_polytechnic,lasalle_diploma,lasalle_degree,nafa_diploma,nafa_degree,ite
year,sex,,,,,,,,,,,,,,,,,
2014,M,2986,3042,830,653,0,0,607,3031,2653,2557,2380,2088,149,123,194,12,7179
2015,M,2987,2979,799,762,162,0,552,3069,2614,2590,2242,2135,128,103,181,13,8211
2016,M,2973,2790,774,746,153,0,552,3023,2746,2569,2434,2121,105,121,162,7,7653
2017,M,3096,2908,859,799,160,0,393,2924,2486,2496,2394,1982,94,148,144,12,8050
2018,M,3094,3037,984,995,182,56,310,2571,2373,2266,2170,2059,117,110,180,5,8395

In [24]:
# graduate = pd.concat([male_data, graduate], sort = True).sort_index()
# graduate

            ite lasalle_degree lasalle_diploma nafa_degree nafa_diploma  \
year sex
2014 F     3883            397             222          13          439
     M     7179            123             149          12          194
     MF   11062            520             371          25          633
2015 F     5140            260             218          11          436
     M     8211            103             128          13          181
     MF   13351            363             346          24          617
2016 F     4863            286             226          18          365
     M     7653            121             105           7          162
     MF   12516            407             331          25          527
2017 F     4808            318             237          22          447
     M     8050            148              94          12          144
     MF   12858            466             331          34          591
2018 F     5026            319             216          10          488
     M     8395            110             117           5          180
     MF   13421            429             333          15          668

         nanyang_polytechnic ngee_ann_polytechnic   nie   ntu   nus  \
year sex
2014 F                  2603                 2513  1125  2951  3224
     M                  2380                 2653   607  3042  2986
     MF                 4983                 5166  1732  5993  6210
2015 F                  2400                 2568  1328  2777  3192
     M                  2242                 2614   552  2979  2987
     MF                 4642                 5182  1880  5756  6179
2016 F                  2727                 2512  1076  3066  3332
     M                  2434                 2746   552  2790  2973
     MF                 5161                 5258  1628  5856  6305
2017 F                  2605                 2400   899  3266  3350
     M                  2394                 2486   393  2908  3096
     MF                 4999                 4886  1292  6174  6446
2018 F                  2414                 2314   843  2953  3606
     M                  2170                 2373   310  3037  3094
     MF                 4584                 4687  1153  5990  6700

         republic_polytechnic singapore_polytechnic   sit   smu suss sutd  \
year sex
2014 F                   2342                  1995   583   772    0    0
     M                   2088                  3031   653   830    0    0
     MF                  4430                  5026  1236  1602    0    0
2015 F                   2496                  1988   602   840    0  136
     M                   2135                  3069   762   799    0  162
     MF                  4631                  5057  1364  1639    0  298
2016 F                   2493                  1984   539  1030    0   93
     M                   2121                  3023   746   774    0  153
     MF                  4614                  5007  1285  1804    0  246
2017 F                   2407                  2000   695   920    0  107
     M                   1982                  2924   799   859    0  160
     MF                  4389                  4924  1494  1779    0  267
2018 F                   2348                  1809   749   903  112  152
     M                   2059                  2571   995   984   56  182
     MF                  4407                  4380  1744  1887  168  334

         temasek_polytechnic
year sex
2014 F                  2559
     M                  2557
     MF                 5116
2015 F                  2529
     M                  2590
     MF                 5119
2016 F                  2495
     M                  2569
     MF                 5064
2017 F                  2516
     M                  2496
     MF                 5012
2018 F                  2290
     M                  2266
     MF                 4556

In [45]:
# graduate.to_csv(r"~/graduate_data.csv")