In [1]:
import pandas as pd
import numpy as np

In [7]:
graduate = pd.read_csv(r"C:\Users\Jurgen\Desktop\PDS-Assignment-1\Assignment 2\Raw Data\graduates-by-institutions.csv", na_values = "-")
graduate = graduate[graduate.year >= 2014].set_index("year")
graduate = graduate.fillna(0)
# graduate = graduate.dropna()

In [9]:
graduate_f = graduate[graduate.sex.isin(["F"])].drop(columns = "sex")
graduate_mf = graduate[graduate.sex.isin(["MF"])].drop(columns = "sex")
graduate_m = graduate.subtract(graduate_f, axis = 0)

graduate_m["sex"] = "M"
graduate_m

,ite,lasalle_degree,lasalle_diploma,nafa_degree,nafa_diploma,nanyang_polytechnic,ngee_ann_polytechnic,nie,ntu,nus,republic_polytechnic,sex,singapore_polytechnic,sit,smu,suss,sutd,temasek_polytechnic
year,,,,,,,,,,,,,,,,,,
2014,7179,123.0,149.0,12.0,194.0,2380.0,2653,607,3042,2986,2088.0,M,3031,653.0,830.0,0.0,0.0,2557.0
2014,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,M,0,0.0,0.0,0.0,0.0,0.0
2015,8211,103.0,128.0,13.0,181.0,2242.0,2614,552,2979,2987,2135.0,M,3069,762.0,799.0,0.0,162.0,2590.0
2015,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,M,0,0.0,0.0,0.0,0.0,0.0
2016,7653,121.0,105.0,7.0,162.0,2434.0,2746,552,2790,2973,2121.0,M,3023,746.0,774.0,0.0,153.0,2569.0
2016,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,M,0,0.0,0.0,0.0,0.0,0.0
2017,8050,148.0,94.0,12.0,144.0,2394.0,2486,393,2908,3096,1982.0,M,2924,799.0,859.0,0.0,160.0,2496.0
2017,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,M,0,0.0,0.0,0.0,0.0,0.0
2018,8395,110.0,117.0,5.0,180.0,2170.0,2373,310,3037,3094,2059.0,M,2571,995.0,984.0,56.0,182.0,2266.0
2018,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,M,0,0.0,0.0,0.0,0.0,0.0

In [11]:
graduate_f = graduate[graduate.sex.isin(["F"])].drop(columns = "sex")
graduate_mf = graduate[graduate.sex.isin(["MF"])].drop(columns = "sex")
graduate_m = graduate_mf.subtract(graduate_f, axis = 0)
graduate_m["sex"] = "M"
graduate_m

,nus,ntu,smu,sit,sutd,suss,nie,singapore_polytechnic,ngee_ann_polytechnic,temasek_polytechnic,nanyang_polytechnic,republic_polytechnic,lasalle_diploma,lasalle_degree,nafa_diploma,nafa_degree,ite,sex
year,,,,,,,,,,,,,,,,,,
2014,2986,3042,830.0,653.0,0.0,0.0,607,3031,2653,2557.0,2380.0,2088.0,149.0,123.0,194.0,12.0,7179,M
2015,2987,2979,799.0,762.0,162.0,0.0,552,3069,2614,2590.0,2242.0,2135.0,128.0,103.0,181.0,13.0,8211,M
2016,2973,2790,774.0,746.0,153.0,0.0,552,3023,2746,2569.0,2434.0,2121.0,105.0,121.0,162.0,7.0,7653,M
2017,3096,2908,859.0,799.0,160.0,0.0,393,2924,2486,2496.0,2394.0,1982.0,94.0,148.0,144.0,12.0,8050,M
2018,3094,3037,984.0,995.0,182.0,56.0,310,2571,2373,2266.0,2170.0,2059.0,117.0,110.0,180.0,5.0,8395,M

In [12]:
graduate_all = pd.concat([graduate_m, graduate], sort = True).sort_index()
graduate_all = graduate_all.reset_index().set_index(["year", "sex"])


col = graduate_all.columns
for value in col:
    graduate_all[value] = graduate_all[value].astype("int32")
graduate_all.info()

graduate_all.to_csv(r"C:\Users\Jurgen\Desktop\PDS-Assignment-1\Assignment 2\After Cleansing\graduate_data.csv")

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 15 entries, (2014, M) to (2018, F)
Data columns (total 17 columns):
ite                      15 non-null int32
lasalle_degree           15 non-null int32
lasalle_diploma          15 non-null int32
nafa_degree              15 non-null int32
nafa_diploma             15 non-null int32
nanyang_polytechnic      15 non-null int32
ngee_ann_polytechnic     15 non-null int32
nie                      15 non-null int32
ntu                      15 non-null int32
nus                      15 non-null int32
republic_polytechnic     15 non-null int32
singapore_polytechnic    15 non-null int32
sit                      15 non-null int32
smu                      15 non-null int32
suss                     15 non-null int32
sutd                     15 non-null int32
temasek_polytechnic      15 non-null int32
dtypes: int32(17)
memory usage: 1.2+ KB

In [21]:
# male = []
# for i in range(len(graduate)-1):
#     if graduate.index[i][0] == graduate.index[i+1][0]:
#         male.append((graduate.iloc[i] - graduate.iloc[i + 1]))

In [22]:
# male_data = pd.DataFrame(columns = ["year",
#                                "sex",
#                                "nus", 
#                                "ntu",
#                                "smu", 
#                                "sit", 
#                                "sutd",
#                                "suss", 
#                                "nie", 
#                                "singapore_polytechnic",
#                                "ngee_ann_polytechnic", 
#                                "temasek_polytechnic",
#                                "nanyang_polytechnic", 
#                                "republic_polytechnic", 
#                                "lasalle_diploma",
#                                "lasalle_degree", 
#                                "nafa_diploma", 
#                                "nafa_degree", 
#                                "ite"])

# for i in range(len(male)):
#     male_data = male_data.append({"year" : graduate.index[i*2][0],
#                 "sex" : "M",
#                 "nus" : int(male[i][0]),
#                 "ntu" : int(male[i][1]),
#                 "smu" : int(male[i][2]),
#                 "sit" : int(male[i][3]),
#                 "sutd": int(male[i][4]),
#                 "suss" : int(male[i][5]),
#                 "nie" : int(male[i][6]),
#                 "singapore_polytechnic" : int(male[i][7]),
#                 "ngee_ann_polytechnic" : int(male[i][8]),
#                 "temasek_polytechnic" : int(male[i][9]),
#                 "nanyang_polytechnic" : int(male[i][10]),
#                 "republic_polytechnic" : int(male[i][11]),
#                 "lasalle_diploma" : int(male[i][12]),
#                 "lasalle_degree" : int(male[i][13]),
#                 "nafa_diploma" : int(male[i][14]),
#                 "nafa_degree" : int(male[i][15]),
#                 "ite" :  int(male[i][16])}, ignore_index=True)

In [23]:
# male_data = male_data.set_index(["year", "sex"])
# male_data

,,nus,ntu,smu,sit,sutd,suss,nie,singapore_polytechnic,ngee_ann_polytechnic,temasek_polytechnic,nanyang_polytechnic,republic_polytechnic,lasalle_diploma,lasalle_degree,nafa_diploma,nafa_degree,ite
year,sex,,,,,,,,,,,,,,,,,
2014,M,2986,3042,830,653,0,0,607,3031,2653,2557,2380,2088,149,123,194,12,7179
2015,M,2987,2979,799,762,162,0,552,3069,2614,2590,2242,2135,128,103,181,13,8211
2016,M,2973,2790,774,746,153,0,552,3023,2746,2569,2434,2121,105,121,162,7,7653
2017,M,3096,2908,859,799,160,0,393,2924,2486,2496,2394,1982,94,148,144,12,8050
2018,M,3094,3037,984,995,182,56,310,2571,2373,2266,2170,2059,117,110,180,5,8395

In [24]:
# graduate = pd.concat([male_data, graduate], sort = True).sort_index()
# graduate

            ite lasalle_degree lasalle_diploma nafa_degree nafa_diploma  \
year sex
2014 F     3883            397             222          13          439
     M     7179            123             149          12          194
     MF   11062            520             371          25          633
2015 F     5140            260             218          11          436
     M     8211            103             128          13          181
     MF   13351            363             346          24          617
2016 F     4863            286             226          18          365
     M     7653            121             105           7          162
     MF   12516            407             331          25          527
2017 F     4808            318             237          22          447
     M     8050            148              94          12          144
     MF   12858            466             331          34          591
2018 F     5026            319             216          10          488
     M     8395            110             117           5          180
     MF   13421            429             333          15          668

         nanyang_polytechnic ngee_ann_polytechnic   nie   ntu   nus  \
year sex
2014 F                  2603                 2513  1125  2951  3224
     M                  2380                 2653   607  3042  2986
     MF                 4983                 5166  1732  5993  6210
2015 F                  2400                 2568  1328  2777  3192
     M                  2242                 2614   552  2979  2987
     MF                 4642                 5182  1880  5756  6179
2016 F                  2727                 2512  1076  3066  3332
     M                  2434                 2746   552  2790  2973
     MF                 5161                 5258  1628  5856  6305
2017 F                  2605                 2400   899  3266  3350
     M                  2394                 2486   393  2908  3096
     MF                 4999                 4886  1292  6174  6446
2018 F                  2414                 2314   843  2953  3606
     M                  2170                 2373   310  3037  3094
     MF                 4584                 4687  1153  5990  6700

         republic_polytechnic singapore_polytechnic   sit   smu suss sutd  \
year sex
2014 F                   2342                  1995   583   772    0    0
     M                   2088                  3031   653   830    0    0
     MF                  4430                  5026  1236  1602    0    0
2015 F                   2496                  1988   602   840    0  136
     M                   2135                  3069   762   799    0  162
     MF                  4631                  5057  1364  1639    0  298
2016 F                   2493                  1984   539  1030    0   93
     M                   2121                  3023   746   774    0  153
     MF                  4614                  5007  1285  1804    0  246
2017 F                   2407                  2000   695   920    0  107
     M                   1982                  2924   799   859    0  160
     MF                  4389                  4924  1494  1779    0  267
2018 F                   2348                  1809   749   903  112  152
     M                   2059                  2571   995   984   56  182
     MF                  4407                  4380  1744  1887  168  334

         temasek_polytechnic
year sex
2014 F                  2559
     M                  2557
     MF                 5116
2015 F                  2529
     M                  2590
     MF                 5119
2016 F                  2495
     M                  2569
     MF                 5064
2017 F                  2516
     M                  2496
     MF                 5012
2018 F                  2290
     M                  2266
     MF                 4556

In [45]:
# graduate.to_csv(r"~/graduate_data.csv")