In [ ]:
import pandas as pd
import numpy as np

In [ ]:
intake = pd.read_csv(r"C:\Users\Jurgen\Desktop\PDS-Assignment-1\Assignment 2\Raw Data\intake-by-institutions.csv", na_values = "-")
intake = intake[intake.year <= 2014].set_index("year")
intake = intake.fillna(0)

intake

In [ ]:
intake_f = intake[intake.sex.isin(["F"])].drop(columns = "sex")
intake_mf = intake[intake.sex.isin(["MF"])].drop(columns = "sex")
intake_m = intake_mf.subtract(intake_f, axis = 0)

intake_m["sex"] = "M"
intake_m

In [ ]:
intake_all = pd.concat([intake_m, intake], sort = True).sort_index()
intake_all = intake_all.reset_index().set_index(["year", "sex"])


col = intake_all.columns
for value in col:
    intake_all[value] = intake_all[value].astype("int32")
intake_all.info()

intake_all.to_csv(r"C:\Users\Jurgen\Desktop\PDS-Assignment-1\Assignment 2\After Cleansing\intake_data.csv")
# intake_all

In [ ]:
intake.to_csv(r"C:\Users\Jurgen\Desktop\PDS-Assignment-1\Assignment 2\After Cleansing\intake_data.csv")

In [ ]:
# male = []
# for i in range(len(intake)-1):
#     if intake.index[i][0] == intake.index[i+1][0]:
#         male.append((intake.iloc[i] - intake.iloc[i + 1]))

In [ ]:
# male_data = pd.DataFrame(columns = ["year",
#                                "sex",
#                                "nus", 
#                                "ntu",
#                                "smu", 
#                                "sit", 
#                                "sutd",
#                                "suss", 
#                                "nie", 
#                                "singapore_polytechnic",
#                                "ngee_ann_polytechnic", 
#                                "temasek_polytechnic",
#                                "nanyang_polytechnic", 
#                                "republic_polytechnic", 
#                                "lasalle_diploma",
#                                "lasalle_degree", 
#                                "nafa_diploma", 
#                                "nafa_degree", 
#                                "ite"])

# for i in range(len(male)):
#     male_data = male_data.append({"year" : intake.index[i*2][0],
#                 "sex" : "M",
#                 "nus" : int(male[i][0]),
#                 "ntu" : int(male[i][1]),
#                 "smu" : int(male[i][2]),
#                 "sit" : int(male[i][3]),
#                 "sutd": int(male[i][4]),
#                 "suss" : int(male[i][5]),
#                 "nie" : int(male[i][6]),
#                 "singapore_polytechnic" : int(male[i][7]),
#                 "ngee_ann_polytechnic" : int(male[i][8]),
#                 "temasek_polytechnic" : int(male[i][9]),
#                 "nanyang_polytechnic" : int(male[i][10]),
#                 "republic_polytechnic" : int(male[i][11]),
#                 "lasalle_diploma" : int(male[i][12]),
#                 "lasalle_degree" : int(male[i][13]),
#                 "nafa_diploma" : int(male[i][14]),
#                 "nafa_degree" : int(male[i][15]),
#                 "ite" :  int(male[i][16])}, ignore_index=True)

In [ ]:
# male_data = male_data.set_index(["year", "sex"])
# male_data

In [ ]:
# intake = pd.concat([male_data, intake], sort = True).sort_index()
# intake